google-api-python-client
google-auth-httplib2
google-auth-oauthlib
pandas
msgspec
beautifulsoup4
lxml
numpy==2.2
redis
asyncpg


# not being used

# imapclient
# apache-airflow-providers-apache-kafka
# aiokafka

# for local environment for bentoml serving

# torch==2.9.0+cu130
# --extra-index-url https://download.pytorch.org/whl/cu130
# cupy-cuda12x
# pydantic
# bentoml
# transformers
# xgboost