imapclient
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
pandas
msgspec
beautifulsoup4
lxml
# PyTorch (GPU build with CUDA 12.9) and Huggingface Transformers
#torch==2.8.0+cu129 torchvision==0.23.0+cu129 --index-url https://download.pytorch.org/whl/cu129
torch==2.8.0+cu129
torchvision==0.23.0+cu129
--extra-index-url https://download.pytorch.org/whl/cu129
transformers==4.49.0

